.Carregando_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Carregando{
<<<<<<< HEAD
    width: 50px;   
}
.Carregando_container > p{
    color: #fff;
    font-size: 15pt;
    margin-right: 10px;
    opacity: .3;
}
=======
    width: 50px;
    
}
>>>>>>> 25c391df299f6fba99e96787f5e9c39e8c1d5bde
