.navbar {
    position: relative;
    display: flex;
    width: -moz-available;
    height: 80px;
    background-color: #222;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    padding: 0 10px;

    &.navbarNoLogin {
        justify-content: space-between;

        .logo {
            margin: 0;
        }
    }

    div {
        position: relative;
        display: flex;
        width: fit-content;
        height: fit-content;

        &.default {
            gap: 10px;

            a:nth-child(1) {
                button {
                    color: #7ed957;
                    border-color: #7ed957;
                }
            }

            button {
                background-color: transparent;
                color: #fff;
                border: 2px solid #fff;
                padding: 10px 20px;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    opacity: .7;
                }
            }
        }

        &.logout {
            button {
                background-color: transparent;
                color: red;
                border: 2px solid red;
                padding: 10px 20px;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    opacity: .7;
                }
            }
        }

        &.logo {
            position: relative;
            display: flex;
            width: fit-content;
            height: fit-content;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            gap: 5px;
            margin: auto;

            img {
                width: 50px;
                object-fit: contain;
            }

            p {
                color: #fff;
            }
        }
    }
}