<<<<<<< HEAD
=======

>>>>>>> 25c391df299f6fba99e96787f5e9c39e8c1d5bde
/*Splash*/

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 0.75s;
}

.marcaheader{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
<<<<<<< HEAD
    display: flex;
    align-items: center;
=======
>>>>>>> 25c391df299f6fba99e96787f5e9c39e8c1d5bde
}

.intrologo{
    width: 30px;
    height: auto;
}

.marca{
    position: relative;
    display: inline-block;
    bottom: -20px;  
    opacity: 0;
    margin: 2px;
}

.marca.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.marca.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}